:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
}

#blockpage {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0px 50px;
    font-size: 18px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#logo {
    padding: 30px 0px;
    width: 140px;
    margin-bottom: -10px;
    margin-left: 20px;
}

.list_top {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.lien_top {
    padding: 50px 25px;
    border-top: 4px solid transparent; /*créer un bord, le mettre transparent pour le retoucher après*/
    margin: 0px 20px 0px 20px;
}

.lien_top:hover {
    border-color: var(--blue);
}

.lien_top a{
    color: black;
    text-decoration: none;
}

.lien_top:hover a {
    color: var(--blue);
}

/*Titre et barre de recherche*/

h1 {
    margin-bottom: 0px;
    margin-top: 1px;
}

.titre .soustitre {
    display: block;
    margin-bottom: 18px;
    font-size: 0.9em;
    margin-top: 8px;
}

.research_bar {
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 15px;
    width: auto;
}

.fa-map-marker-alt {
    display:inline-block;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    margin-right: 5px;
    height: 20px;
    background-color: var(--grey);
    border-radius: 15px 0px 0px 15px; 
}

.barre_recherche {
    outline: none;
    margin-left: 4px;
    border: none;
    font-weight: bold;
}

.bouton_recherche {
    background-color: var(--blue);
    color: #FFFFFF;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
}

.bouton_recherche i {
    display: none;
}

/*Filtres*/

.filtres {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    font-weight: bold;
}

.titre_filtre {
    display: flex;
    font-size: 100%;
}

.list_filtre {
    display: flex;
    list-style: none;
    padding: 4px;
}

.icone_filtre {
    font-weight: 700;
    padding: 0 20px 0 0;
    margin: 0 10px;
    border: 2px solid #e2e2e2;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.filtres i {
    color: var(--blue);
    background-color: var(--light-blue);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icone_filtre:hover {
    background-color: var(--light-blue);
    cursor: pointer;
    transition: background-color 0.5s;
}

.filtres .icone_filtre:hover i {
    background-color: #FFFFFF;
    transition: background-color 0.5s;
}

/*Info*/

.infos .fas {
    color: var(--blue);
    font-size: 15px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    margin: 8px 5px 10px 0px;
}

.infos p{
    display: inline;
    font-size: 90%;
}

/*Hébergements*/

.hebergements {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    height: auto;
}

.heb_marseille {
    display: flex;
    justify-content: space-between;
}

.conteneur {
    position: relative;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 40px 40px 80px 40px;
    box-sizing: content-box;
    height: 78%;
    width: 85%;
}

.list_heb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_heb a {
    color: black;
    text-decoration: none;
}

.case_marseille {
    background: white;
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
    width: auto;
    height: 270px;
}

.case_img article{
    height: 170px;
    width: 340px;
}

.case_marseille .case_img article img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.case_marseille:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: ease 0.4s;
}
.contenu_article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 10px 10px;
    line-height: 5px;
}

.contenu_article h3 {
    font-size: 105%;
}

.contenu_article p {
    font-size: 85%;
}

.contenu_article p{
    margin-top: 6px;
    margin-bottom: 15px;
}

.hebergements h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.list_heb a article .fa-star.blue {
    color: var(--blue);
}

.list_heb a article .fa-star.grey {
    color: #e2e2e2;
}

.contenu_article .star {
    font-size: 80%;
}

.soustitre_heb:hover {
    cursor: pointer;
}

.soustitre_heb {
    font-weight: bold;
    position: absolute;
    left: 50px;
    bottom: 40px;
}

.prix_gras {
    font-weight: bold;
}

/*Les plus populaires*/

.populaire {
    position: relative;
    width: 50%;
    margin-left: -60px;
    height: auto;
}

.populaire .icone_stat {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 120%;
}

.populaire .pop_list {
    flex-direction: column;
}

.populaire .pop_list a{
    text-decoration: none;
    color: black;
}

.case_pop {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
    height: 175px;;
}

.case_pop img {
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 100%;
    object-fit: cover;
}

.case_pop .contenu_article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 20px;
    position: relative;
}

.case_pop:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: ease 0.4s;
}

.star .fa-star.blue {
    color: var(--blue);
}

.star .fa-star.grey {
    color: #e2e2e2;
}

.case_pop .contenu_article .star {
    margin-top: 32px;
}

#star_1, #star_3 {
    margin-top: 50px;
}

/*Activités*/

.activites {
    width: 102%;
}

.activites h2 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 118%;
}

.list_activites {
    display: flex;
}

.list_activites article img {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 67px);
    border-radius: 25px 25px 0 0;
}

.list_activites article {
    margin-right: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
}

.simple {
    display: flex;
    width: 60%;
    height: 60%;
}

.double {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
}

.activite_1, .activite_4 {
    width: auto;
    height: 600px;
}

.activite_2 {
    width: auto;
    height: 300px;
}

.activite_3 {
    width: auto;
    height: 259px;
}

.activite_5, .activite_6 {
    height: 280px;
    width: auto;
}
.list_activites article h3 {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 90%;
}

.list_activites article:hover {
    transform: scale(1.03);
    transform: ease 0.4s;
    cursor: pointer;
}

/*Footer*/

.footer {
    background-color: var(--grey);
    margin: 35px -50px 0px -50px;
    padding: 35px 0px 35px 50px;
    display: flex;
}

.footer h2 {
    margin-bottom: 0px;
}

.footer_column {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.footer_ul {
    list-style: none;
    padding: 0px;
}

.li_footer a{
    text-decoration: none;
    color: black;
    line-height: 35px;
}

@media screen and (max-width: 768px) {

    #blockpage {
        padding: 0px 0px;
        margin: auto;
        width: auto;
        height: auto;
    }

    body {
        padding: 0px 20px;
    }

    main {
        padding: 0 40px;
    }

    /*Header*/

    header {
        flex-direction: column; /*pour mettre le menu en colonne*/
    }

    #logo {
        margin: auto;
        padding-left: 40%; /*déplacement du logo*/
        width: 30%;
    }

    .list_top {
        margin: 0px -20px;
        padding: 0;
    }

    .lien_top {
        width: 50%;
        padding: 20px;
        margin: 0px;
        border-top: none; /*pour annuler le border top*/
        border-bottom: 3px solid var(--grey); /*barre grise perma, pas de changement au :hover*/
        text-align: center;
        margin-bottom: 25px;
        margin-top: -18px;
    }

    .lien_top a{
        font-size: 95%;
    }

    .title_h1 {
        margin-bottom: 15px;
    }

    .soustitre {
        margin-bottom: 35px;
    }

    /*Recherche*/

    .research_bar button {
        border-radius: 15px;
        padding-bottom: 18px;

    }

    .research_bar button span {
        display: none;
    }

    .research_bar button .fa-search {
        display: block;
    }

    /*Filtres*/

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .titre_filtre {
        margin-top: 20px;
        margin-bottom: -5px;
    }
    
    .list_filtre {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .icone_filtre {
        margin-bottom: 6px;
        margin-left: -5px;
    }
    
    /*Hébergements*/
    
    .hebergements {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: -100px;
    }

    .heb_marseille .conteneur {
        width: auto;
    }

    .case_marseille {
        height: 270px;
        width: auto;
    }

    .case_img article {
        width: 250px;
    }

    .hebergements .case_marseille img {
        height: 100%;
        width: 100%;
    }

    .list_heb {
        align-items: center;
        flex-wrap: wrap;
    }

    /*Populaire*/

    .populaire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaire .conteneur {
        margin-left: 110px;
    }

    /*Activités*/

    .activites {
        margin-left: 18px;
    }

    .list_activites {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .list_activites article {
        width: 660px;
        height: 250px;
        margin-bottom: 20px;
    }

    .simple {
        display: flex;
        flex-direction: column;
    }

    #titre_activites {
        margin-bottom: 25px;
    }

    /*Footer*/

    .footer {
        flex-direction: column;
        padding-left: 10%;
    }
}

@media screen and (max-width: 600px) {

    .heb_marseille .conteneur {
        background-color: white;
        padding-left: 3.5%;
    }

    .list_heb {
        align-items: center;
    }

    .case_img article {
        width: 450px;
    }

    .populaire .conteneur {
        width: 80%;
    }

    .case_pop img {
        width: 115px;
    }

    .list_activites article {
        width: 480px;
        height: 220px;
    }
    .footer {
        padding-left: 13%;
    }
}

/*@media screen and (max-width: 414px) {

}*/

/*@media screen and (max-width: 375px) {

}*/

@media screen and (max-width: 992px) {

    /*Filtres*/

    .filtres {
        flex-wrap: wrap;
    }

    .titre_filtre {
        margin-top: 10px;
        margin-bottom: -5px;
    }

    /*Hébergements*/

    .hebergements {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 98%;
    }

    .heb_marseille .conteneur {
        height: 100%;
        margin-bottom: 30px;
        margin-left: 15px;
        padding-bottom: 50px;
        width: 85%;
    }

    /*Populaire*/

    .populaire {
        align-items: center;
        width: 85%;
        margin-left: -100px;
    }

    .populaire .conteneur {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .case_pop {
        height: 135px;
        align-items: flex-start;
    }

    .populaire .pop_list a article img {
        height: 135px;
    }

    #star_1, #star_3 {
        margin-top: 22px;
    }

    #star_2 {
        margin-top: 20px;
    }

    /*Activités*/

    .list_activites {
        height: auto;
        width: auto;
    }

    /*Footer*/

    .footer {
        justify-content: space-between;
        display: flex;
    }

    .footer_column {
        width: auto;
        margin-right: auto;
    }
}