:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
}

#blockpage {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0px 50px;
    font-size: 18px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#logo {
    padding: 30px 0px;
    width: 140px;
    margin-bottom: -10px;
    margin-left: 20px;
}

.list-top {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.link-top {
    padding: 50px 25px;
    border-top: 4px solid transparent; /*créer un bord, le mettre transparent pour le retoucher après*/
    margin: 0px 20px 0px 20px;
}

.link-top:hover {
    border-color: var(--blue);
}

.link-top a{
    color: black;
    text-decoration: none;
}

.link-top:hover a {
    color: var(--blue);
}

/*Titre et barre de recherche*/

h1 {
    margin-bottom: 0px;
    margin-top: 1px;
}

.title .subtitle {
    display: block;
    margin-bottom: 18px;
    font-size: 0.9em;
    margin-top: 8px;
}

.research-bar {
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 15px;
    width: auto;
}

.fa-map-marker-alt {
    display:inline-block;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    margin-right: 5px;
    height: 20px;
    background-color: var(--grey);
    border-radius: 15px 0px 0px 15px; 
}

.bar-research {
    outline: none;
    margin-left: 4px;
    border: none;
    font-weight: bold;
}

.button-research {
    background-color: var(--blue);
    color: #FFFFFF;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
}

.button-research i {
    display: none;
}

/*Filtres*/

.filters {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    font-weight: bold;
}

.title-filter {
    display: flex;
    font-size: 100%;
}

.list-filter {
    display: flex;
    list-style: none;
    padding: 4px;
}

.icon-filter {
    font-weight: 700;
    padding: 0 20px 0 0;
    margin: 0 10px;
    border: 2px solid #e2e2e2;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.filters i {
    color: var(--blue);
    background-color: var(--light-blue);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon-filter:hover {
    background-color: var(--light-blue);
    cursor: pointer;
    transition: background-color 0.5s;
}

.filters .icon-filter:hover i {
    background-color: #FFFFFF;
    transition: background-color 0.5s;
}

/*Info*/

.infos .fas {
    color: var(--blue);
    font-size: 15px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    margin: 8px 5px 10px 0px;
}

.infos p{
    display: inline;
    font-size: 90%;
}

/*Hébergements*/

.accomodations {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    height: auto;
}

.accom-marseille {
    display: flex;
    justify-content: space-between;
}

.container {
    position: relative;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 40px 40px 80px 40px;
    box-sizing: content-box;
    height: 78%;
    width: 85%;
}

.list-accom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-accom a {
    color: black;
    text-decoration: none;
}

.case-marseille {
    background: white;
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
    width: 97%;
    height: 270px;
}

.case-img article{
    height: 170px;
    width: 320px;
}

.case-marseille .case-img article img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.case-marseille:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
.content-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 10px 10px;
    line-height: 5px;
}

.content-article h3 {
    font-size: 105%;
}

.content-article p {
    font-size: 85%;
}

.content-article p{
    margin-top: 6px;
    margin-bottom: 15px;
}

.accomodations h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.list-accom a article .fa-star.blue {
    color: var(--blue);
}

.list-accom a article .fa-star.grey {
    color: #e2e2e2;
}

.content-article .star {
    font-size: 80%;
}

.subtitle-accom:hover {
    cursor: pointer;
}

.subtitle-accom {
    font-weight: bold;
    position: absolute;
    left: 50px;
    bottom: 40px;
}

.price-gras {
    font-weight: bold;
}

/*Les plus populaires*/

.famous {
    position: relative;
    width: 50%;
    margin-left: -60px;
    height: auto;
}

.famous .icon-stat {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 120%;
}

.famous .pop-list {
    flex-direction: column;
}

.famous .pop-list a{
    text-decoration: none;
    color: black;
}

.case-pop {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
    width: 100%;
    height: 175px;
    position: relative;
}

.case-pop img {
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 100%;
    object-fit: cover;
    
}

.case-pop .content-article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 20px;
    position: relative;
}

.case-pop:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.star .fa-star.blue {
    color: var(--blue);
}

.star .fa-star.grey {
    color: #e2e2e2;
}

.case-pop .content-article .star {
    position: absolute;
    top: 145px;
}

/*Activités*/

.activities {
    width: 102%;
}

.activities h2 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 118%;
}

.list-activities {
    display: flex;
}

.list-activities article img {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 67px);
    border-radius: 25px 25px 0 0;
}

.list-activities article {
    margin-right: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
}

.simple {
    display: flex;
    width: 60%;
    height: 60%;
}

.double {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
}

.activity-1, .activity-4 {
    width: auto;
    height: 600px;
}

.activity-2 {
    width: auto;
    height: 300px;
}

.activity-3 {
    width: auto;
    height: 259px;
}

.activity-5, .activity-6 {
    height: 280px;
    width: auto;
}
.list-activities article h3 {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 90%;
}

.list-activities article:hover {
    transform: scale(1.03);
    transition: ease 0.4s;
    cursor: pointer;
}

/*Footer*/

.footer {
    background-color: var(--grey);
    margin: 35px -50px 0px -50px;
    padding: 35px 0px 35px 50px;
    display: flex;
}

.footer h2 {
    margin-bottom: 0px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.footer-ul {
    list-style: none;
    padding: 0px;
}

.li-footer a{
    text-decoration: none;
    color: black;
    line-height: 35px;
}

@media screen and (max-width: 1440px) and (min-width:993px) {

    /*Hébergements*/

    .case-marseille {
        width: 97%;
        height: 250px;
    }

    .case-img article {
        width: 260px;
        height: 150px;
    }
   
    /*Populaires*/

    .case-pop {
        height: 160px;
    }

    .case-pop img {
        width: 120px;
    }

    .case-pop .content-article .star {
        top: 135px;
    }
}

@media screen and (max-width: 992px) {

    /*Filtres*/

    .filters {
        flex-wrap: wrap;
    }

    .title-filter {
        margin-top: 10px;
        margin-bottom: -5px;
    }

    /*Hébergements*/

    .accomodations {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 98%;
    }

    .accom-marseille .container {
        height: 100%;
        margin-bottom: 30px;
        margin-left: 15px;
        padding-bottom: 50px;
        width: 85%;
    }

    /*Populaire*/

    .famous {
        align-items: center;
        width: 85%;
        margin-left: -100px;
    }

    .famous .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .case-pop {
        height: 135px;
        align-items: flex-start;
    }

    .famous .pop-list a article img {
        height: 135px;
    }

    .case-pop .content-article .star {
        position: absolute;
        top: 110px;
    }

    /*Activités*/

    .list-activities {
        height: auto;
        width: auto;
    }

    /*Footer*/

    .footer {
        justify-content: space-between;
        display: flex;
    }

    .footer-column {
        width: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {

    #blockpage {
        padding: 0px 0px;
        margin: auto;
        width: auto;
        height: auto;
    }

    body {
        padding: 0px 20px;
    }

    main {
        padding: 0 40px;
    }

    /*Header*/

    header {
        flex-direction: column; /*pour mettre le menu en colonne*/
    }

    #logo {
        margin: auto;
        padding-left: 40%; /*déplacement du logo*/
        width: 30%;
    }

    .list-top {
        margin: 0px -20px;
        padding: 0;
    }

    .link-top {
        width: 50%;
        padding: 20px;
        margin: 0px;
        border-top: none; /*pour annuler le border top*/
        border-bottom: 3px solid var(--grey); /*barre grise perma, pas de changement au :hover*/
        text-align: center;
        margin-bottom: 25px;
        margin-top: -18px;
    }

    .link-top a{
        font-size: 95%;
    }

    .title-h1 {
        margin-bottom: 15px;
    }

    .subtitle {
        margin-bottom: 35px;
    }

    /*Recherche*/

    .research-bar button {
        border-radius: 15px;
        padding-bottom: 18px;

    }

    .research-bar button span {
        display: none;
    }

    .research-bar button .fa-search {
        display: block;
    }

    /*Filtres*/

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-filter {
        margin-top: 20px;
        margin-bottom: -5px;
    }
    
    .list-filter {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .icon-filter {
        margin-bottom: 6px;
        margin-left: -5px;
    }
    
    /*Hébergements*/
    
    .accomodations {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accom-marseille .container {
        width: auto;
    }

    .case-marseille {
        height: 270px;
        width: auto;
    }

    .case-img article {
        width: 250px;
    }

    .accomodations .case-marseille img {
        height: 100%;
        width: 100%;
    }

    .list-accom {
        align-items: center;
        flex-wrap: wrap;
    }

    /*Populaire*/

    .famous {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .famous .container {
        margin-left: 110px;
    }

    /*Activités*/

    .activities {
        margin-left: 18px;
    }

    .list-activities {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .list-activities article {
        width: 660px;
        height: 250px;
        margin-bottom: 20px;
    }

    .simple {
        display: flex;
        flex-direction: column;
    }

    #title-activities {
        margin-bottom: 25px;
    }

    /*Footer*/

    .footer {
        flex-direction: column;
        padding-left: 10%;
    }
}

@media screen and (max-width: 600px) {

    .accom-marseille .container {
        background-color: transparent;
        padding-left: 3.5%;
    }

    .list-accom {
        align-items: center;
    }

    .case-img article {
        width: 450px;
    }

    .case-pop img {
        width: 115px;
    }

    #star-2 {
        margin-top: 0px;
    }

    .accomodations {
        margin-bottom: -40px;
    }

    .list-activities article {
        width: 520px;
        height: 220px;
        margin-left: -14px;
    }
    .footer {
        padding-left: 13%;
    }
}

@media screen and (max-width:500px) and (min-width: 415px) {

    .list-activities article {
        margin-left: -30px;
        width: 445px;
    }
}

@media screen and (max-width: 414px) {

    .bar-research {
        width: 63%;
    }

    .accomodations {
        width: 130%;
    }

    .accom-marseille {
        margin-left: -50px;
    }

    .accom-marseille .container {
        margin-bottom: -20px;
    }

    .case-marseille {
        height: 240px;
    }

    .case-img article {
        width: 360px;
        height: 140px;
    }

    .famous .container {
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        justify-content: flex-start;
    }

    .subtitle-accom {
        left: 16px
    }

    .case-pop {
        width: 355px;
        position: relative;
    }

    .case-pop img {
        width: 120px;
    }

    .case-pop .content-article h3, p {
        margin-top: 10px;
        font-size: 98%;
    }

    #star-2, #star-3 {
        margin-top: 5px;
    }

    .activities h2 {
        margin-left: -38px;
    }

    .list-activities article {
        width: 380px;
        height: 200px;
        margin-left: -42px;
    }

    .footer {
        padding-left: 18%;
    }

}

@media screen and (max-width: 375px) {

    .bar-research {
        width: 58%;
    }

    .hébergements {
        width: 100%;
    }

    .case-marseille {
        height: 230px;
    }

    .case-img article {
        width: 320px;
    }

    .famous .container {
        width: 100%;
    }

    .case-pop {
        width: 320px;
    }

    #star-1 {
        margin-top: 5px;
    }

    .list-activities article {
        width: 345px;
    }

}

